$user = $_POST['fb_sig_profile_user'];
$api_key = '336fb869587da7159dc0c56337183c3d';
$secret = 'd3db6494609e56aec9bf3392f69aff40';
$facebook = new Facebook($api_key, $secret);
$session_key = md5($facebook->api_client->session_key);
session_id($session_key);
session_start();