<mt:IfCommentsActive>
<div id="comments" class="comments">

<mt:IfCommentsAccepted>
<div class="comments-open" id="comments-open">
    <h2 class="comments-open-header">Comments</h2>
    <div class="comments-open-content">

       <?php
         // You can't include an absolute URL, so we have to hack the relative one.
         require_once ('../../config.php');

// This is defined at the top of the Entry Archive       
//         $user_session = new TPSession();
         

         $tp_entry = new TPConnectEntry(array('blog_xid'  => '6a00e5539faa3b88330120a94362b9970b', 
                                              'permalink' => '<mt:entrypermalink>',
                                              'entry_id'  => '<mt:entryid>',
                                              'content'   => ''));


          // handle comment posts...
          if ($user_session->is_logged_in() and
              array_key_exists('comment_text', $_POST)) {
             // This will post a comment to TypePad.
             $comment = new Comment(array('post_xid' => $tp_entry->xid,
                                          'session'   => $user_session,
                                          'content'  => $_POST['comment_text']));
          }

         $comments = $tp_entry->rousseaus_listing();      
         echo "
<div id='rousseaus-comments'>";
         echo $comments;
         echo "
</div>";
       ?>
       
      <br /><br />
      
<?php

      if (!$user_session->is_logged_in()) {      
         echo "<h3><a href='<mt:blogurl>login.php'>Sign In</a> to Comment</h3>";
      }
      else {
         echo "<h3>Leave a Comment, <a href='" . $user_session->author->profile_url . "'>" . 
               $user_session->author->display_name . 
               "</a>!  Or, you can <a href='<mt:blogurl>index.php?logout=1'>Log Out</a>.</h3>";
?>
      <!-- comment form -->
      <form action="#" method="post">
         <!--<input type="hidden" name="xid" value="<?php echo $post_xid; ?>">-->
         <textarea name="comment_text" cols="50" rows="5"></textarea>
         <br />
         <input type="submit" value="send">
      </form>
      <?php
            }
?>

    <!-- start tpc -->
 <mt:ignore>
    <div id="tpc_thread"></div>
    
    <div style="display:none;" id="tpc_post_title"><$MTEntryTitle$></div>
    <div style="display:none;" id="tpc_post_message"><$MTEntryBody$></div>
    <script type="text/javascript">
        var TPConnect = {};

        TPConnect.tpc_url = '<$MTEntryPermalink$>';
        TPConnect.tpc_title = document.getElementById('tpc_post_title').innerHTML;
        TPConnect.tpc_message = document.getElementById('tpc_post_message').innerHTML;
    </script>
    <script type="text/javascript" src="http://profile.typepad.com/services/embed/tpc/6a00e5539faa3b88330120a94362b9970b/embed.js"></script>
    <script type="text/javascript" src="http://static.typepad.com/.shared/js/profile/blogside.js"></script>
    <script type="text/javascript" src="<mt:blogurl>blogside.js"></script>
    <script type="text/javascript">
       var tpc_outer = document.getElementById("tpe-content");
       var comments = document.getElementById("tpe-comments-content");
       if (!comments) {
          alert("Couldn't find comments");
       }

      var throwawayNode = tpc_outer.removeChild(comments);
    </script>  
    </mt:ignore>
</div>

</div>
</div>
<mt:Else>
<p>Comments are closed.</p>
</mt:IfCommentsAccepted>
</div>
</mt:IfCommentsActive>