<mt:IfCommentsActive>
<div id="comments" class="comments">

<mt:IfCommentsAccepted>
<div class="comments-open" id="comments-open">
    <h2 class="comments-open-header">Comments</h2>
    <div class="comments-open-content">

       <?php
         // You can't include an absolute URL, so we have to hack the relative one.
         require_once ('../../config.php');

         $tp_entry = new TPConnectEntry('6a00e5539faa3b88330120a94362b9970b', 
                                        '<mt:entrypermalink>',
                                        '<mt:entryid>',
                                        '');

         $comments = $tp_entry->rousseaus_listing();      
         echo "
<div id='rousseaus-comments'>";
         echo $comments;
         echo "
</div>";
       ?>
       
      <br /><hr /><br />

    <!-- start tpc -->
    <div id="tpc_thread"></div>
    
    <div style="display:none;" id="tpc_post_title"><$MTEntryTitle$></div>
    <div style="display:none;" id="tpc_post_message"><$MTEntryBody$></div>
    <script type="text/javascript">
        var TPConnect = {};

        TPConnect.tpc_url = '<$MTEntryPermalink$>';
        TPConnect.tpc_title = document.getElementById('tpc_post_title').innerHTML;
        TPConnect.tpc_message = document.getElementById('tpc_post_message').innerHTML;
    </script>
    <script type="text/javascript" src="http://profile.typepad.com/services/embed/tpc/6a00e5539faa3b88330120a94362b9970b/embed.js"></script>
    <script type="text/javascript" src="http://static.typepad.com/.shared/js/profile/blogside.js"></script>
    <script type="text/javascript" src="<mt:blogurl>blogside.js"></script>
    <script type="text/javascript">
       var tpc_outer = document.getElementById("tpe-content");
       var comments = document.getElementById("tpe-comments-content");
       if (!comments) {
          alert("Couldn't find comments");
       }

      var throwawayNode = tpc_outer.removeChild(comments);
    </script>  
    </div>

</div>
</div>
<mt:Else>
<p>Comments are closed.</p>
</mt:IfCommentsAccepted>
</div>
</mt:IfCommentsActive>